
.forum-breadcrumb {
  width: 990px!important;
  margin: 0 auto;
}
.topic-list {
  min-height: 600px;
}

.topic-list li {
  border: none;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 0px;
}

.topic-list-item {
  box-sizing: border-box; 
  padding: 14px 0px 14px 5px;
  border-bottom:1px solid #f5f5f5;
  border-color: #e6e6e6;
}

