
#shop-navbar  {
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #ffda44;
  border-color: transparent;
  position:relactive;
}
#shop-navbar.navbar a  {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
