@charset "UTF-8";
.usercenter-panel {
}

.usercenter-panel-heading {
  padding-bottom: 0px;
}

.usercenter-panel-heading .nav {
  border-bottom: none;
}
.usercenter-avatar {

}
.usercenter-avatar img {
  height: 70px;
  float: left;
  border: 3px solid #f8f8f8;
  border-radius: 5px;
  padding: 2px;
}
.usercenter-avatar-userinfo {
  float: left;
  margin-left: 15px;
  line-height: 70px;
  color: #777;
}

.user-profile {
  font-size: 12px;
}
.user-profile-component {
  padding: 10px 10px;
  border-bottom: 1px dashed #eee;
}
.user-profile-field {
  color: #888;
  margin-right: 1rem;
}
.user-profile-nickname {
  font-weight: bold;
  margin-bottom: 20px;
}
#user-topic table {
  font-size: 12px;
}
#user-topic td {
  vertical-align: middle;
}
#user-topic td p {
  margin-bottom: 0;
}

#edit-user-profile .well {
  height: 500px;
}
#edit-user-profile-form input[type=file]{
  display: none;
}
#avatar-display {
  width: 200px;
}